body,
html {
    font-size: 16px;
}

:root {
    --clr-primary: #249280;
    --clr-neutral-100: #fff;
    --clr-neutral-300: #F4F4F4;
    --clr-neutral-400: #f9fbfc;
    --clr-neutral-600: #f3f4f6;
    --clr-neutral-700: #d8d8d8;
    --clr-neutral-900: #696969;
    --clr-neutral-1000: #000000;
    --font-color-700: #808080;
}


/* Header styles */

.sticky-header {
    z-index: 99;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.75rem;
    height: 4.6875rem;
    background-color: var(--clr-neutral-100);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-name {
    color: var(--clr-neutral-1000);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button-header {
    cursor: pointer;
    color: var(--clr-neutral-1000);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1.56rem;
}


/* End - Header styles */


/* Start - Home styles */

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 4.688rem);
    grid-template-rows: auto;
    column-gap: 0.078rem;
    justify-content: center;
}

.home-container {
    height: 100vh;
    background-color: var(--clr-neutral-300);
}

.title-container {
    grid-column: 3 / -1;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dev-icon {
    background-image: url(../src/assets/dev.svg);
    height: 6.375rem;
    width: 8rem;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 1.25rem;
}

.home-title {
    display: flex;
    width: 29.875rem;
    height: 9.75rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-text {
    grid-column: 3 / 8;
    grid-row: 4 / 5;
    padding-top: 2.5rem;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home-contact-links {
    grid-column: 3 / 5;
    grid-row: 5 / 6;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: row;
}

.home-contact-links a {
    display: block;
    width: 2.4375rem;
    height: 2.4375rem;
    fill: var(--clr-neutral-1000);
}

.linkedin-icon {
    background-image: url(../src/assets/linkedin-icon.svg);
    margin-right: 1.12rem;
}

.github-icon {
    background-image: url(../src/assets/github-icon.svg);
}

.tech-stack-container {
    grid-column: 3 / -1;
    grid-row: 7 / 8;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tech-stack-title {
    color: var(--clr-neutral-1000);
    width: 6.5625rem;
    padding: 0.75rem 0;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 2.25rem;
    border-right: 1px solid var(--clr-neutral-1000);
}

.home-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    margin-left: 2.25rem;
}

.home-icon-container div {
    margin-right: 1.25rem;
}

.svg-icon {
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
}

.html-icon {
    background-image: url(../src/assets/html.svg);
    height: 3.75rem;
    width: 3.75rem;
}

.css-icon {
    background-image: url(../src/assets/CSS.3.svg);
    height: 3.75rem;
    width: 3.2815rem;
}

.js-icon {
    background-image: url(../src/assets/js-icon.svg);
    height: 3.75rem;
    width: 3.75rem;
}

.react-icon {
    background-image: url(../src/assets/react.svg);
    width: 4.2105rem;
    height: 3.75rem;
}

.node-icon {
    background-image: url(../src/assets/nodejs-seeklogo.com.svg);
    height: 3.75rem;
    width: 3.32181rem;
}

.mongodb-icon {
    background-image: url(../src/assets/mongodb-icon.svg);
    height: 3.75rem;
    width: 1.68456rem;
}

.express-icon {
    background-image: url(../src/assets/express.svg);
    height: 3.75rem;
    width: 3.75rem;
}


/* End - Home styles */


/* Start - About styles */

.about-container {
    padding: 10.9375rem 18.4375rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
}

.project-picture-container {
    width: 21.875rem;
    height: 21.875rem;
    flex-shrink: 0;
}


/* End - About styles */


/* Start - Product styles */

.grid-10 {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 1rem;
}

.bg-100 {
    background-color: var(--clr-neutral-400);
}

.main-container {
    grid-column: 4 / 16;
}

.overflow-hidden {
    overflow: hidden;
}

button,
a {
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

.view-code-button,
.live-preview-button {
    background: none;
    border: none;
    font-size: 1.4em;
    margin-left: 1rem;
    display: inline-block;
    position: relative;
}

.view-code-button:hover,
.live-preview-button:hover {
    cursor: pointer;
}

.view-code-button::after,
.live-preview-button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    bottom: -0.1111rem;
    left: 0;
    border-bottom: 0.1111rem solid var(--clr-primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.view-code-button:hover::after,
.live-preview-button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.max-width {
    display: block;
    width: min(90%, 70rem);
    margin-inline: auto;
}

.padding-auto {
    padding: .75rem;
}

.gradient {
    background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
}

.opacity-80 {
    opacity: 0.8;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.display-flex-column {
    display: flex;
    flex-direction: column;
}


/* .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 4rem;
    border-bottom: 0.0555rem solid;
    border-color: var(--clr-neutral-900);
} */

.github-button,
.linkedin-button {
    font-size: 3rem;
}

.linkedin-button {
    margin-left: 1.5rem;
}

.github-button:hover,
.linkedin-button:hover {
    color: var(--clr-neutral-1000);
}

.profile-bibliography {
    height: auto;
    color: black;
}

.home-about-me {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home-about-me,
.my-works,
.contact-me {
    font-size: 2.5rem;
}

.home-bibliography {
    display: flex;
    flex-direction: column;
    margin-inline: 3rem;
}

.home-bibliography div {
    margin: 1rem 0 1rem 3rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.home-links {
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    margin-inline: 3rem;
}

.home-links a {
    color: #000;
    text-decoration: none;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(7, 6.666rem);
    grid-template-rows: 6.666rem;
    gap: 0.2777rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.skills-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-name {
    font-size: 0.75rem;
    margin-top: 0.2777rem;
}

.dotted-border {
    border: var(--clr-neutral-1000);
    border-width: 0.1111rem;
    border-style: dotted;
}

.skills-logo {
    background-repeat: no-repeat;
    background-position: center;
    height: 4.444rem;
    width: 4.444rem;
    background-size: 4.444rem 4.444rem;
}

.react-logo-svg {
    background-image: url(./assets/react.svg);
}

.node-logo-svg {
    background-image: url(./assets/nodejs-seeklogo.com.svg);
}

.html-logo-svg {
    background-image: url(./assets/html-5-logo-svgrepo-com.svg);
}

.css-logo-svg {
    background-image: url(./assets/CSS.3.svg);
}

.js-logo-svg {
    background-image: url(./assets/logo-javascript.svg);
}

.npm-logo-svg {
    background-image: url(./assets/npm-2.svg);
}

.cplus-logo-svg {
    background-image: url(./assets/c.svg);
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    margin-block: 4rem;
}

.my-works {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.projects-card {
    display: grid;
    margin: auto;
    margin: 5rem auto 0 auto;
    padding-bottom: 10rem;
    grid-template-columns: repeat(10, 1fr);
    width: min(60rem, 90%);
    border-bottom: 0.0555rem solid;
    border-color: var(--clr-neutral-900);
}

.project-info,
.project-info-opposite {
    display: grid;
    -webkit-box-shadow: 0.1666rem 0.2222rem 0.5rem 0.0555rem rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0.1666rem 0.2222rem 0.5rem 0.0555rem rgba(0, 0, 0, 0.31);
    box-shadow: 0.1666rem 0.2222rem 0.5rem 0.0555rem rgba(0, 0, 0, 0.31);
    margin: 5rem 0 -5rem 0;
    padding: 1rem;
    background-color: var(--clr-neutral-100);
}

.project-info {
    grid-column: 5 / -1;
}

.project-info-opposite {
    grid-column: 1 / -5;
}

.project-header {
    display: grid;
    align-self: center;
}

.project-name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 1.5em;
}

.project-links {
    grid-column: 2 / 3;
    grid-row: 1/ 2;
    display: flex;
    align-items: center;
    justify-content: end;
}

.view-code-button,
.live-preview-button {
    background: none;
    color: var(--clr-neutral-900);
    text-decoration: none;
    display: flex;
    font-size: 0.9em;
}

.view-code-button:hover,
.live-preview-button:hover {
    color: var(--clr-neutral-1000);
}

.live-preview-button {
    margin-left: 1rem;
}

.project-description {
    padding-top: 1.1111rem;
    padding-bottom: 1.1111rem;
}

.project-screenshot,
.project-screenshot-opposite-2,
.project-screenshot-3 {
    aspect-ratio: auto 16 / 9;
    background-color: #dddddd;
}

.project-screenshot {
    grid-column: 1 / 8;
    box-shadow: 1.1111rem 1.1111rem 0 0 var(--clr-neutral-600), 1.1111rem 1.1111rem 0 0.1388rem var(--clr-primary);
}

.project-screenshot-shopping {
    background-image: url(./assets/Shopping.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-screenshot-message-board {
    background-image: url(./assets/Mini-message-board.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-screenshot-1 {
    background-image: url(./assets/CV-Application.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-screenshot-opposite-2 {
    grid-column: -1 / -8;
    box-shadow: -1.1111rem 1.1111rem 0 0 var(--clr-neutral-600), -1.1111rem 1.1111rem 0 0.1388rem var(--clr-primary);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-screenshot-weather {
    background-image: url(./assets/weather-app-sc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-screenshot-3 {
    background-image: url(./assets/DC-motor-sc.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-screenshot,
.project-info,
.project-screenshot-opposite-2,
.project-info-opposite {
    grid-row: 1 / 2;
}

.project-1 {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.project-2 {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

.project-3 {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}

.contact-bg {
    background-color: black;
    color: var(--clr-neutral-100);
    background-image: url(../src/assets/contact-bg.jpg);
    background-size: cover;
    height: 50.55rem;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-container {
    padding: 4rem 0 13rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
}

.contact-me {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.contact-info {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 1rem 0 3rem 1rem;
}

.contact-info div {
    font-size: 1.25rem;
}

.contact-links {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.contact-links a {
    color: var(--clr-neutral-100);
    text-decoration: none;
}

.contact-form {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    margin: 0rem 0rem 1rem 0rem;
}

input,
textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 0.0555rem solid var(--clr-neutral-100);
    background-color: transparent;
    margin-bottom: .5rem;
    color: var(--clr-neutral-100);
}

input::placeholder,
textarea::placeholder {
    color: rgb(185, 185, 185);
    font-family: Arial, Helvetica, sans-serif;
}

input[placeholder="Name"],
input[placeholder="Email"] {
    padding: .5rem;
}

textarea[placeholder="Message"] {
    padding: .5rem;
    height: 7rem;
    resize: none;
}

button[type="submit"] {
    background: transparent;
    color: var(--clr-neutral-100);
    border: 0.0555rem solid var(--clr-neutral-100);
    padding: .5rem;
    margin: 2rem 0;
    width: 4rem;
    font-size: 1rem;
}

button[type="submit"]:hover {
    background-color: var(--clr-primary);
    color: var(--clr-neutral-100);
}

.footer {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    background-color: black;
    color: var(--clr-neutral-100);
}


/* 
@media only screen and (min-device-width: 275px) {
    body,
    html {
        font-size: 9px !important;
    }
}

@media only screen and (min-device-width: 375px) {
    body,
    html {
        font-size: 10.5px !important;
    }
}

@media only screen and (min-device-width: 425px) {
    body,
    html {
        font-size: 11.5px !important;
    }
}

@media only screen and (min-device-width: 768px) {
    body,
    html {
        font-size: 15px !important;
    }
}

@media only screen and (min-device-width: 1024px) {
    body,
    html {
        font-size: 16px !important;
    }
}

@media only screen and (min-device-width: 1440px) {
    body,
    html {
        font-size: 16px !important;
    }
}

@media only screen and (min-device-width: 1850px) {
    body,
    html {
        font-size: 20px !important;
    }
}

@media only screen and (min-device-width: 2500px) {
    body,
    html {
        font-size: 25px !important;
    }
} */

@media only screen and (min-device-width: 275px) and (max-device-width: 480px) {
    .home-background {
        background-image: url(../src/assets/Portrait.png);
    }
    .grid-12 {
        grid-template-columns: repeat(12, 2rem);
        grid-template-rows: repeat(12, 1fr);
        column-gap: 0.5rem;
    }
    .title-container {
        height: 3.54545rem;
        padding-bottom: 1.64rem;
    }
    .name-text {
        font-size: 2.18182rem;
    }
    .justify-content-space-between {
        justify-content: start;
    }
    .middle-container {
        padding-top: 1.64rem;
        padding-bottom: 0.69rem;
    }
    .tools-title-text {
        margin-left: 0.5rem;
    }
    .tools-container {
        height: 12.55955rem;
    }
    .tools-container img {
        height: 1.65rem;
    }
    .bottom-container {
        width: 100%;
        grid-column: 3 / -2;
        display: flex;
        padding-bottom: 0;
    }
    .bottom-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
    .bottom-border-left {
        border-left: 0px;
        border-bottom: 0.1875rem solid var(--clr-primary);
    }
    .bottom-text {
        font-size: 1.09091rem;
        height: 2.34445rem;
        padding: 0 0.75rem;
    }
    .grid-10 {
        grid-template-columns: repeat(9, 1fr);
    }
    .main-container {
        grid-column: 1 / 10;
    }
    .home-bibliography {
        margin-inline: 2rem;
    }
    .home-bibliography div {
        margin: 1rem 0;
    }
    .skills-container {
        grid-template-columns: repeat(7, 4rem);
        grid-template-rows: 4rem;
    }
    .skills-logo {
        height: 2rem;
        width: 2rem;
        background-size: 2rem 2rem;
        margin-top: 0.5rem;
    }
    .project-screenshot {
        grid-column: 1 / 10;
    }
    .project-screenshot-opposite-2 {
        grid-column: -1 / -10;
    }
    .project-info {
        grid-column: 2 / -1;
    }
    .project-info-opposite {
        grid-column: 1 / -2;
    }
    .project-info,
    .project-info-opposite {
        margin: 8rem 0 -5rem 0;
        padding-block: 3rem;
    }
    .contact-container {
        margin-inline: 3rem;
    }
    .contact-bg {
        background-image: url(../src/assets/contact-bg-center.jpg);
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 961px) {
    .home-background {
        background-image: url(../src/assets/Portrait.png);
    }
    .grid-12 {
        grid-template-columns: repeat(12, 3rem);
        grid-template-rows: repeat(12, 1fr);
        column-gap: 0.5rem;
    }
    .title-container {
        height: 5.08288rem;
        padding-bottom: 1.64rem;
    }
    .name-text {
        font-size: 2.5rem;
    }
    .justify-content-space-between {
        justify-content: start;
    }
    .middle-container {
        padding-top: 1.64rem;
        padding-bottom: 0.69rem;
    }
    .tools-title-text {
        margin-left: 0.5rem;
        font-size: 1.25rem;
    }
    .tools-container {
        height: 13.10106rem;
        width: 35rem;
    }
    .tools-container img {
        height: 1.95rem;
    }
    .bottom-container {
        padding-top: 1.44rem;
    }
    .grid-10 {
        grid-template-columns: repeat(9, 1fr);
    }
    .main-container {
        grid-column: 3 / 10;
    }
    .home-bibliography {
        margin-inline: 2rem;
    }
    .home-bibliography div {
        margin: 1rem 0;
    }
    .skills-container {
        grid-template-columns: repeat(7, 4rem);
        grid-template-rows: 4rem;
    }
    .skills-logo {
        height: 2rem;
        width: 2rem;
        background-size: 2rem 2rem;
        margin-top: 0.5rem;
    }
    .project-screenshot {
        grid-column: 1 / 10;
    }
    .project-screenshot-opposite-2 {
        grid-column: -1 / -10;
    }
    .project-info {
        grid-column: 2 / -1;
    }
    .project-info-opposite {
        grid-column: 1 / -2;
    }
    .project-info,
    .project-info-opposite {
        margin: 8rem 0 -5rem 0;
        padding-block: 3rem;
    }
    .contact-container {
        margin-inline: 3rem;
    }
    .contact-bg {
        background-image: url(../src/assets/contact-bg-center.jpg);
    }
}

@media only screen and (min-device-width: 962px) and (max-device-width: 1440px) {
    .grid-12 {
        grid-template-columns: repeat(12, 4.5rem);
        grid-template-rows: repeat(12, 1fr);
        column-gap: 0.5rem;
    }
    .title-container {
        height: 6.08288rem;
        padding-bottom: 2.14rem;
    }
    .name-text {
        font-size: 3.5rem;
    }
    .justify-content-space-between {
        justify-content: start;
    }
    .middle-container {
        padding-top: 1.64rem;
        padding-bottom: 0.69rem;
    }
    .tools-title-text {
        margin-left: 0.5rem;
        font-size: 1.4rem;
    }
    .tools-container {
        height: 17.10106rem;
        width: 47rem;
    }
    .tools-container img {
        height: 2.75rem;
    }
    .bottom-container {
        padding-top: 1.44rem;
    }
    .bottom-text {
        font-size: 1.4rem;
    }
    .grid-10 {
        grid-template-columns: repeat(9, 1fr);
    }
    .main-container {
        grid-column: 3 / 10;
    }
    .home-bibliography {
        margin-inline: 2rem;
    }
    .home-bibliography div {
        margin: 1rem 0;
    }
    .skills-container {
        grid-template-columns: repeat(7, 5rem);
        grid-template-rows: 5rem;
    }
    .skills-logo {
        height: 3rem;
        width: 3rem;
        background-size: 3rem 3rem;
        margin-top: 0.5rem;
    }
    .project-screenshot {
        grid-column: 1 / 9;
    }
    .project-screenshot-opposite-2 {
        grid-column: -1 / -9;
    }
    .project-info {
        grid-column: 3 / -1;
    }
    .project-info-opposite {
        grid-column: 1 / -3;
    }
    .project-info,
    .project-info-opposite {
        margin: 8rem 0 -5rem 0;
        padding-block: 3rem;
    }
    .contact-bg {
        background-image: url(../src/assets/contact-bg-center.jpg);
    }
}

@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
    .grid-12 {
        grid-template-columns: repeat(12, 5rem);
        grid-template-rows: repeat(12, 1fr);
        column-gap: 0.5rem;
    }
    .title-container {
        height: 5.08288rem;
        padding-bottom: 1.64rem;
    }
    .name-text {
        font-size: 2.5rem;
    }
    .justify-content-space-between {
        justify-content: start;
    }
    .middle-container {
        padding-top: 1.64rem;
        padding-bottom: 0.69rem;
    }
    .tools-title-text {
        margin-left: 0.5rem;
        font-size: 1.25rem;
    }
    .tools-container {
        height: 13.10106rem;
        width: 35rem;
    }
    .tools-container img {
        height: 1.95rem;
    }
    .bottom-container {
        padding-top: 1.44rem;
    }
    .grid-10 {
        grid-template-columns: repeat(9, 1fr);
    }
    .main-container {
        grid-column: 3 / 10;
    }
    .home-bibliography {
        margin-inline: 2rem;
    }
    .home-bibliography div {
        margin: 1rem 0;
    }
    .skills-container {
        grid-template-columns: repeat(7, 5rem);
        grid-template-rows: 5rem;
    }
    .skills-logo {
        height: 3rem;
        width: 3rem;
        background-size: 3rem 3rem;
        margin-top: 0.5rem;
    }
    .project-screenshot {
        grid-column: 1 / 9;
    }
    .project-screenshot-opposite-2 {
        grid-column: -1 / -9;
    }
    .project-info {
        grid-column: 3 / -1;
    }
    .project-info-opposite {
        grid-column: 1 / -3;
    }
    .project-info,
    .project-info-opposite {
        margin: 8rem 0 -5rem 0;
        padding-block: 3rem;
    }
    .contact-bg {
        background-image: url(../src/assets/contact-bg-center.jpg);
    }
}