button {
    background: none;
    border: none;
    font-size: 1.1em;
    margin-left: 20px;
    display: inline-block;
    position: relative;
}

button:hover {
    cursor: pointer;
}

.button-header {
    color: white;
}

.button-header:hover {
    cursor: pointer;
}

.button-header::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #00bd2d;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.max-width {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

.margin-15px {
    margin: 15px;
}

.padding-auto {
    padding: .75rem;
}

.justify-end {
    display: flex;
    justify-content: end;
}

.header-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}

.header-container::before {
    background-color: black;
    opacity: 0.8;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    pointer-events: none;
}

.home-container {
    height: 100vh;
    background-image: url(../src/assets/home-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-name {
    color: white;
    padding-top: 15rem;
    padding-bottom: 1.5rem;
    width: 40.8rem;
    border-bottom: 3px solid white;
    overflow: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.name {
    font-size: 3rem;
}

.name,
.web-developer {
    animation-duration: 1.5s;
    overflow: hidden;
    animation-name: slideup;
}

.web-developer {
    font-size: 6rem;
    font-weight: bold;
    color: #00bd2d;
}

@keyframes slideup {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%) linear;
        opacity: 1;
    }
}

.about-grid {
    display: grid;
    grid-template-rows: 80vh;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.github-button,
.linkedin-button {
    font-size: 2.5rem;
}

.github-button:hover,
.linkedin-button:hover {
    color: #00bd2d;
}


/* initial photo */

.profile-photo {
    background-image: url(https://images.pexels.com/photos/4709285/pexels-photo-4709285.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-items: center;
    height: 33.33rem;
    width: 33.33rem;
}

.profile-bibliography {
    background-color: white;
    height: 27.8rem;
    width: 100%;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.home-about-me {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 2em;
    display: flex;
    align-items: center;
}

.home-bibliography {
    grid-row: 2 / 3;
}

.home-links {
    grid-row: 3 / 4;
    display: flex;
    align-items: end;
    justify-content: end;
}

.projects-bg {
    --tw-bg-opacity: 1;
    background-color: #f3f4f6;
    background-color: rgb(243 244 246/var(--tw-bg-opacity));
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

.my-works {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 2em;
}

.projects-card {
    display: grid;
    margin: auto;
    margin: 5rem auto 0 auto;
    padding-bottom: 5rem;
    grid-template-columns: repeat(10, 1fr);
    max-width: 60rem;
    border-bottom: 1px solid black;
}

.project-info,
.project-info-opposite {
    display: grid;
    -webkit-box-shadow: 3px 4px 9px 1px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 3px 4px 9px 1px rgba(0, 0, 0, 0.31);
    box-shadow: 3px 4px 9px 1px rgba(0, 0, 0, 0.31);
    margin: 2rem 0 2rem 0;
    padding: 1rem;
    background-color: white;
}

.project-info {
    grid-column: 6 / -1;
}

.project-info-opposite {
    grid-column: 1 / -6;
}

.project-header {
    display: grid;
    align-self: center;
}

.project-name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 1.5em;
}

.project-links {
    grid-column: 2 / 3;
    grid-row: 1/ 2;
    display: flex;
    align-items: center;
    justify-content: end;
}

.project-description {
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-screenshot,
.project-screenshot-opposite {
    aspect-ratio: auto 16 / 9;
    background-color: #dddddd;
}

.project-screenshot {
    grid-column: 1 / 7;
    box-shadow: 15px 15px 0px 0px #f3f4f6, 15px 15px 0px 2.5px #00bd2d;
}

.project-screenshot-opposite {
    grid-column: -1 / -7;
    box-shadow: -15px 15px 0px 0px #f3f4f6, -15px 15px 0px 2.5px #00bd2d;
}

.project-screenshot,
.project-info,
.project-screenshot-opposite,
.project-info-opposite {
    grid-row: 1 / 2;
}

.project-1 {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.project-2 {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

.project-3 {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}

.background-black {
    background-color: black;
    color: white;
}

.contact-container {
    padding: 4rem 0 8rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
}

.contact-me {
    font-size: 2rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.contact-info {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 1rem;
}

.contact-info div button {
    color: white;
}

.contact-img {
    background-image: url(https://images.pexels.com/photos/4709285/pexels-photo-4709285.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-items: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    background-color: black;
    color: white;
}